<div class="row">
  <div class="col-md-10 mx-auto">
    <h1>Cocktail's Name</h1>
      <p><%= @cocktail.name %></p>

    <div>
      <h3>Doses</h3>
      <% @cocktail.doses.each do |dose| %>
      <p><%= dose.ingredient.name %> : <%= dose.description %> <%= link_to "remove", dose_path(dose), method: :delete %></p>
      <% end %>
    </div>
    <%= link_to "Add Dose", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>
